# Ignore all files in gen folder except for README.md
firmware/aft/gen/*
!firmware/aft/gen/README.md

# Ignore all files in gen folder except for CodeGenerator.java
firmware/aft/AppBuildTool/src/amulet/gen/*
!firmware/aft/AppBuildTool/src/amulet/gen/CodeGenerator.java
