[submodule "firmware/lib-qpc"]
	path = firmware/native/lib-qpc
	url = https://github.com/PERSISTLab/lib-qpc.git
[submodule "firmware/ble/nrf5x-base"]
	path = firmware/ble/nrf5x-base
	url = https://github.com/lab11/nrf5x-base.git
