amulet-config:
 #amulet_root is the path to root of the amulet repo in your machine
 amulet_root: /home/vagrant/Repos/project-amulet
 #amulet_apps is the path to root of the applications directory in your machine
 amulet_apps: /home/vagrant/Repos/project-amulet/src/applications
 #qpc_root is the path to root of the lib-qpc repo in your machine
 qpc_root: /home/vagrant/Repos/project-amulet/src/lib-qpc
 #qmc_path is the path of the qmc executable, useful if you use a Mac
 #qmc_path: /Applications/qmc.app/Contents/MacOS/qmc
 qmc_path: /home/vagrant/qm/bin/
 #apps provides a list of names of apps that you'd like to merge
 apps:
  -
   #name: selftest
   #name: ERApp
   name: Wizard
   
 #keys is not used in AFT yet
 keys:
  - AB23413538CC32  # fictitious key, not sure if a list of keys is sufficient or not. revisit
  - FFEEFFEE1234BC
 #flags are set to build firmware process
 flags:
  # if pins is true, the -t flag is set to add toggle pin code
  pins: false
  # if do-aft is true, the -p flag is set and apps go through AFT translation and runtime checks
  do-aft: true
 # AFT currenty supports two values for compiler viz., ccs or gcc
 compiler: gcc
 #gcc_root: /Users/jhester/ti/gcc/bin
 gcc_root: /opt/ti-mspgcc/bin
 #Device Configuration is denoted using config. The value for config is directly used as a define C flag
 #config: BSP_BRACELET
 config: BSP_DEV
 #Verbose mode displays commands being executed and also warnings in apps/core code that it compiles
 verbose: true


